html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
/* add red asterisk to required form fields */
div.required label:after {
  content: " *";
  color: #e13431;
}
/* add arrows to sortable columns */
table > thead > tr > th > a:after {
  content: " \2191\2193 ";
}
ul {
  list-style: outside none none;
  padding: 0;
  margin: 0;
}
.breadcrumb {
  background: transparent;
}
.table > thead > tr > th:last-child {
  min-width: 50px;
}
.text-bold {
  font-weight: bold;
}
a:focus {
  outline: none;
  outline-offset: 0;
}
body {
  color: #212121;
}
h1 {
  text-align: center;
  margin-bottom: 60px;
}
h2 {
  margin-bottom: 40px;
}
a {
  color: #2196f3;
}
footer {
  height: 60px;
  background-color: #f6f6f6;
  border-top: 1px solid #dcdcdc;
  padding-top: 20px;
}
a:hover,
a:focus {
  color: #51adf6;
  text-decoration: none;
}
.btn-default,
.btn-primary {
  border-radius: 3px;
  border-width: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.18);
  display: inline-block;
  color: #ffffff;
  background: #2196f3;
  padding: 10px 20px;
  font-weight: bold;
}
.btn-default:hover,
.btn-primary:hover,
.btn-default:active,
.btn-primary:active,
.btn-default:focus,
.btn-primary:focus {
  color: #ffffff !important;
  background: #51adf6 !important;
  outline: none !important;
}
.well {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background: #ffffff;
}
input[type="text"],
input[type="search"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  height: 40px;
  outline: medium none;
  padding: 0 10px;
  resize: none;
  vertical-align: middle;
}
select.form-control {
  max-width: 100%;
  height: 40px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  display: block;
  font-size: 14px;
  overflow: hidden;
  padding: 8px 42px 8px 8px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #ffffff url(/images/select.png) no-repeat right center;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212121;
}
select.form-control option {
  padding: 8px;
}
.form-control:focus {
  border-color: #2196f3;
}
.auth-clients {
  width: 65px;
  margin: 0 auto;
}
.profile-img-box img {
  border-radius: 100%;
  display: inline-block;
  margin: 10px 0;
  width: 30%;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  height: auto;
  max-width: 100%;
  padding: 3px;
}
.ui-datepicker .ui-widget-header {
  background: #2196f3;
  border: 0;
  color: #ffffff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  color: #ffffff;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
  top: 2px;
  border: 0;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
  top: 2px;
  border: 0;
}
.ui-datepicker .ui-state-default {
  background: #ffffff;
}
.ui-datepicker .ui-state-highlight {
  border-color: #2196f3;
}
.ui-datepicker .ui-state-hover {
  background: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
.form-group {
  position: relative;
}
.app-help-block {
  display: none;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 14px;
  color: #ececec !important;
  font-size: 14px;
  white-space: normal;
  z-index: 1060;
  background: rgba(101, 101, 101, 0.9) none repeat scroll 0 0;
  border: medium none;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.help-block-error {
  font-size: 12px;
  margin: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: #2196f3;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
/*############*/
/*  SITE CSS  */
/*############*/
